@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'aktiv';
  src: url('/public/aktiv/AktivGrotesk-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'aktiv';
  src: url('/public/aktiv/AktivGrotesk-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'aktiv';
  src: url('/public/aktiv/AktivGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'aktiv';
  src: url('/public/aktiv/AktivGrotesk-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'aktiv';
  src: url('/public/aktiv/AktivGrotesk-Hairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'aktiv';
  src: url('/public/aktiv/AktivGrotesk-HairlineItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'aktiv';
  src: url('/public/aktiv/AktivGrotesk-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'aktiv';
  src: url('/public/aktiv/AktivGrotesk-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'aktiv';
  src: url('/public/aktiv/AktivGrotesk-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'aktiv';
  src: url('/public/aktiv/AktivGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'aktiv';
  src: url('/public/aktiv/AktivGrotesk-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'aktiv';
  src: url('/public/aktiv/AktivGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'aktiv';
  src: url('/public/aktiv/AktivGrotesk-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'aktiv';
  src: url('/public/aktiv/AktivGrotesk-ThinItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'aktiv';
  src: url('/public/aktiv/AktivGrotesk-XBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

.form-style{
  @apply py-2 rounded  w-full focus:border-primary focus:ring-primary border-border bg-gray-50 text-sm
}